@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #4D5567;
    --foreground: #D2DAE8 ;
    --surface: #677188;

    --card: #ffffff;
    --card-foreground: #01050c;
    --popover: #ffffff;
    --popover-foreground: #01050c;
    --primary: #747c8d;
    --primary-foreground: #D2DAE8;
    --secondary: #D2DAE8;
    --secondary-foreground: #0f131c;
    --muted: #93c4f5;
    --muted-foreground: #646c77;
    --accent: #4d55677a;
    --accent-foreground: #0f131c;
    --destructive: #991818;
    --destructive-foreground: #95c7f9;
    --border: #9ebee9;
    --input: #9ebee9;
    --ring: #01050c;
    --radius: 0.5rem;
  }

  .dark {
    --background: #01050c;
    --foreground: #95c7f9;
    --card: #01050c;
    --card-foreground: #95c7f9;
    --popover: #01050c;
    --popover-foreground: #95c7f9;
    --primary: #95c7f9;
    --primary-foreground: #0f131c;
    --secondary: #1e232c;
    --secondary-foreground: #95c7f9;
    --muted: #1e232c;
    --muted-foreground: #8492a6;
    --accent: #1e232c;
    --accent-foreground: #95c7f9;
    --destructive: #4e1d1d;
    --destructive-foreground: #95c7f9;
    --border: #1e232c;
    --input: #1e232c;
    --ring: #9cb6d5;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
